<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E57EDD431F214E6D004C52B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57EDD5A1F214E6E004C52B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57EDD651F214E6E004C52B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
